<div class="flxCard" *ngIf="item">
  <div class="flxCard-header">
    <img [src]="item.image.imageUrl" alt="Foto capa do curso" />
    <h2>{{ item.name }}</h2>
  </div>
  <div class="card-content">
    <p *ngIf="item.duration">{{ "cards.duration" | translate }}: {{ item.duration }} hr</p>
    <p>{{ textSize(item.description, 150) }}</p>
  </div>
  <div class="button-container">
    <Button (click)="redirectToLessons(item.id)"><span>{{ "cards.access" | translate }}</span></Button>
  </div>  
</div>

<!--Cards for mobile screen-->
<div class="card-mobile" *ngIf="item">
  <div class="flxcard-header">
    <img [src]="item.image.imageUrl" alt="Foto capa do curso"/>
  </div>

  <div class="card-content">
    <h2>{{ item.name }}</h2>
    <p *ngIf="item.duration">{{ "cards.duration" | translate }}: {{ item.duration }} hr</p>
    <p>{{ item.description }}</p>
    <div class="button-container" style="border: 1px solid red" >
      <Button (click)="redirectToLessons(item.id)">{{ "cards.access" | translate }}</Button>
    </div>  
  </div>
</div>
