<header>
  <div class="header-container">
    <!-- The title and website logo -->
    <div class="logo">
      <span>{{ "header.title" | translate }}</span>      
      <span>{{ "header.subtitle" | translate }}</span>
    </div>
  
      <!-- Burger Menu for mobile -->
      <div class="menu-burger">      
        <img src="/assets/images/menu_mobile.svg" alt="">
      </div> 
  
    <div class="input-container">
      <input type="text">  
      <button><mat-icon>search</mat-icon></button>
    </div>
    
    <div class="avatar">
      <img src="/assets/images/user-avatar.svg" alt="" />
  
      <div class="language-select">
        <select>
          <option value="en">English</option>
          <option value="pt">Portuguese</option>
        </select>
      </div>
    </div>
  </div>
  </header>
