<header>
  <div class="header-container">
    <!-- The title and website logo -->
    <div class="logo">
      <div>
        <span>{{ "header.title" | translate }}</span>      
        <span>{{ "header.subtitle" | translate }}</span>
      </div>   
    </div>
  
    <!-- Burger Menu for mobile -->
    <div class="menu-burger" (click)="toggleNavbar()">      
      <img src="/assets/images/menu_mobile.svg" alt="">
    </div> 
  
    <div class="input-container">
      <input type="text">  
      <button><mat-icon>search</mat-icon></button>
    </div>
    
    <div class="avatar">
      <img src="/assets/images/user-avatar.svg" alt="" />
  
      <div class="userName">
        <span>{{ user.firstName }}</span>
      </div>
    </div>
  </div>
  </header>
